@mixin font-face($font-family, $font-style, $font-wight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-wight;
    font-display: swap;
    src: $font-src;
  }
}

@mixin list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin style-btn-link {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
