.additional-product-table__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.additional-product-table__text {
  line-height: 14px;
}
