.hero {
  background-color: $green-color;
  // background: url("../../images/hero-background-image-mobile@2x.webp");
  // background-repeat: no-repeat;
  // background-size: 100% auto;
  // background-position: top;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $light-text-color;
  text-transform: uppercase;
}
