.invite--bg-gray {
  background-color: #f2f2f2;
}

.invite__title {
  font-family: "Oswald", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
