.title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $dark-text-color;
}

.title--light-color {
  color: $light-text-color;
  line-height: 36px;
  text-align: center;
}

.title--size-smoll {
  font-size: 24px;
  line-height: 24px;
}
